.h1-myname {
  font-family: Shrikhand, "Cooper Black", "Goudy Old Style", Georgia, "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 100px;
  font-weight: 400;
}

.h1-subheading {
  font-family: -apple-system, Montserrat, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

.zoom {
  transition: transform 0.2s ease-in-out;
}

.zoom:hover {
  transform: scale(1.20);
}