.h1-myname {
  font-family: Shrikhand, serif;
  font-size: 100px;
  font-weight: 400;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

.zoom {
  transition: transform 0.2s ease-in-out;
}

.zoom:hover {
  transform: scale(1.20);
}